:root {
  --color-background: #e1ede6;
  --color-background-one: #F4F6F5;
  --color-primary: #598D66;
  --color-secondary: #86928B;
  --color-dark: #2C2D35;
  --color-white: #ffffff;
  --color-light-green: #D4E8D9;
  --color-dark-green: #376B44;
  
  --color-gold: #EEDB6D;
  --color-gold-light: #FAEB97;
  --color-gold-dark: #A38314;
  --color-gold-medium: #D9B949;

  --color-burger-line: #333;
  --color-facebook: #1877f2;
  --color-youtube: #ff0000;
  --color-focus-outline: #0077ff;
  --color-gray-text: #666666;
}